/node_modules/
[Oo]bj/
[Bb]in/
src/Clients/PowerBIVisualsPlayground/**/*.js
src/Clients/PowerBIVisualsPlayground/**/*.js.map
src/Clients/PowerBIVisualsPlayground/visuals.min.css
src/Clients/Visuals/images/visuals.sprites.png
src/Clients/Visuals/styles/sprites.less
src/Clients/Visuals/styles/**/*.css
src/Clients/Visuals/styles/**/*.min.css
src/Clients/Visuals/styles/**/*.rtl.css
src/Clients/Visuals/styles/**/*.rtl.min.css
build/neutral/PowerBI/images/sprite-src/bold_text_black.png
build/neutral/PowerBI/images/sprite-src/bold_text_white.png
build/neutral/PowerBI/images/sprite-src/italic_text_black.png
build/neutral/PowerBI/images/sprite-src/italic_text_white.png
build/neutral/PowerBI/images/sprite-src/underline_text_black.png
build/neutral/PowerBI/images/sprite-src/underline_text_white.png
src/Clients/PowerBIVisualsTests/visuals/**/*.js
*.user
src/Clients/PowerBIVisualsTests/helpers.js
src/Clients/PowerBIVisualsTests/mocks.js
src/Clients/PowerBIVisualsTests/tableDataViewHelper.js
