* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

svg {
    width: 100%;
    height: 100%;
}

.visual-tile svg {
    width: inherit;
    height: inherit;
}

div.chart-content {
    position: relative; 
    top: 0; 
    height: 100%; 
    width: 100%;
    background-repeat: no-repeat;
    -ms-background-size: contain;
    background-size: contain;
}

/*  creating donutChart slices classes, to disable the hover defined by the web */
.donutChart path.slice.selected:hover {
    opacity: 1;
}

.donutChart path.slice.not-selected:hover {
    opacity: 0.6;
}

#itemContainer svg {
    width: 100%;
    height: 100%;
}

.topBar {
    width: 100%;
    display: inline-block;
    background-color: black;
    color: #FFF;
    padding: 10px;
}

#userData {
    background-color: gray;
    display: none;
    padding-bottom: 2px;
    padding-top: 5px;
}

#userData input {
    display: block;
    margin: 1px 2px;
    padding: 0 3px;
}

#userData input.inline {
    display: inline-block;
}

.chartSize1x1 {
    height: 150px;
    width: 250px;
}

.chartSize2x2 {
    height: 310px;
    width: 510px;
}

.chartSize3x3 {
    height: 470px;
    width: 670px;
}
