/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
/* 
    POWER BI V2 "Bumblebee" COLOR PALLETE
    Please use only the colors declared here  - this file is to be kept in sync with the palette defined by the design team
    If you need a color that is not here, talk to your designer and get it added to the main palette and then add it here

    - Use #HEX codes - if you need to get alpha use fadeout(color, percentage)
    - Colors should be reusable, and not duplicated.
*/
/* THEME COLORS */
/* NEUTRAL COLORS */
/* ACCENT COLORS */
/* APPLICATION CHROME COLORS */
/*dark chrome*/
/*light chrome*/
/*@primaryChromeColor: @whiteColor;
@secondaryChromeColor: @whiteColor;
@tertiaryChromeColor: @whiteColor;*/
/* 
    DEPRECATED COLORS: Please refrain from adding one time use colors to the section below.
    These will be all be removed. New colors must be provided by design and be in the design OneNote palette
*/
/* PowerView specific colors */
/* Visual colors */
.secondaryFont {
  font-family: 'wf_din1451';
}
.secondaryBoldFont {
  font-family: 'wf_din1451_bold';
}
.lightFont {
  font-family: 'wf_segoe-ui_light';
}
.semilightFont {
  font-family: 'wf_segoe-ui_Semilight';
}
.regularFont {
  font-family: 'wf_segoe-ui_normal';
}
.semiboldFont {
  font-family: 'wf_segoe-ui_Semibold';
}
.boldFontFamily {
  font-family: 'wf_segoe-ui_bold';
}
@font-face {
  font-family: 'wf_segoe-ui_light';
  src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot');
  src: local("Segoe UI Light"), local("Segoe WP Light"), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix') format('embedded-opentype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff') format('woff'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf') format('truetype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui_Semilight';
  src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot');
  src: local("Segoe UI Semilight"), local("Segoe WP Light"), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix') format('embedded-opentype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff') format('woff'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf') format('truetype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui_normal';
  src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot');
  src: local("Segoe UI"), local("Segoe"), local("Segoe WP"), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix') format('embedded-opentype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff') format('woff'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf') format('truetype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui_Semibold';
  src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot');
  src: local("Segoe UI Semibold"), local("Segoe Semibold"), local("Segoe WP Semibold"), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot?#iefix') format('embedded-opentype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.woff') format('woff'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.ttf') format('truetype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui_bold';
  src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot');
  src: local("Segoe UI bold"), local("Segoe bold"), local("Segoe WP bold"), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot?#iefix') format('embedded-opentype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.woff') format('woff'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.ttf') format('truetype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wf_din1451';
  src: url('../fonts/DIN1451.eot');
  src: url('../fonts/DIN1451.eot?#iefix') format('embedded-opentype'),url('../fonts/DIN1451.woff') format('woff'),url('../fonts/DIN1451.ttf') format('truetype'),url('../fonts/DIN1451.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wf_din1451_bold';
  src: url('../fonts/DIN1451B.eot');
  src: url('../fonts/DIN1451B.eot?#iefix') format('embedded-opentype'),url('../fonts/DIN1451B.woff') format('woff'),url('../fonts/DIN1451B.ttf') format('truetype'),url('../fonts/DIN1451B.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* 
 * Color styles MUST be set through the color palette in colors.less. This
 * will allow us to easily change the palette and get a consistent look. DO NOT
 * hard-code colors directly inside classes.
 *
 * To get integrated VS support for LESS install the Visual Studio Web Essentials.
 */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
.trimmedTextWithEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.skittlesNormal {
  opacity: 0;
  border: 1px solid #a6a6a6;
  color: #333333;
  background-color: #ffffff;
  margin-bottom: 5px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  -webkit-transition-delay: 0s;
  /* Safari */
  transition-delay: 0s;
}
.skittlesHovered {
  background-color: #f4f4f4;
}
.skittlesPressed {
  border-color: #777777;
  background-color: #eaeaea;
}
.skittlesIconNormal {
  vertical-align: middle;
  text-align: center;
  color: #a6a6a6;
}
.skittlesIconHovered {
  color: #777777;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear, left 0.5s linear, transform 0.5s;
  -webkit-transition: opacity 0.5s linear, left 0.5s linear, transform 0.5s;
}
.hidden {
  visibility: hidden;
  /* Fully hide the element*/
  opacity: 0;
  transition: visibility 0s 0.5s, width 0s 0.5s, height 0s 0.5s, opacity 0.5s linear, left 0.5s linear, transform 0.5s;
  -webkit-transition: visibility 0s 0.5s, width 0s 0.5s, height 0s 0.5s, opacity 0.5s linear, left 0.5s linear, transform 0.5s;
}
.hiddenNoTransition {
  visibility: hidden;
  opacity: 0;
}
/* 
 * Color styles MUST be set through the color palette in colors.less. This
 * will allow us to easily change the palette and get a consistent look. DO NOT
 * hard-code colors directly inside classes.
 *
 * To get integrated VS support for LESS install the Visual Studio Web Essentials.
 */
.powerbi-spinner .spinner {
  width: 100%;
  height: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  font-size: 20px;
  color: #000000;
}
.powerbi-spinner .dots {
  -webkit-animation: slidedelay 4s infinite;
  -moz-animation: slidedelay 4s infinite;
  animation: slidedelay 4s infinite;
  white-space: nowrap;
  font-size: 16px;
}
.powerbi-spinner .spinner span:not(last-of-type) {
  -webkit-animation: spinner 4s infinite;
  -moz-animation: spinner 4s infinite;
  animation: spinner 4s infinite;
}
@-webkit-keyframes spinner {
  0% {
    letter-spacing: 3em;
  }
  45% {
    letter-spacing: 0;
  }
  55% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 3em;
  }
}
@-moz-keyframes spinner {
  0% {
    letter-spacing: 3em;
  }
  45% {
    letter-spacing: 0;
  }
  55% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 3em;
  }
}
@keyframes spinner {
  0% {
    letter-spacing: 3em;
  }
  45% {
    letter-spacing: 0;
  }
  55% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 3em;
  }
}
@-webkit-keyframes slidedelay {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}
@-moz-keyframes slidedelay {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes slidedelay {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.powerbi-spinner .circleSpinner {
  position: relative;
  width: 40px;
  height: 40px;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.powerbi-spinner .circleSpinner .circle {
  position: absolute;
  background-color: #ffffff;
  height: 7px;
  width: 7px;
  -moz-border-radius: 4px;
  -moz-animation: fadeCircle .96s linear infinite;
  -webkit-border-radius: 4px;
  -webkit-animation: fadeCircle .96s linear infinite;
  border-radius: 4px;
  animation: fadeCircle .96s linear infinite;
}
.powerbi-spinner .circleSpinner .first {
  left: 0;
  top: 16px;
  -moz-animation-delay: 0.36s;
  -webkit-animation-delay: 0.36s;
  animation-delay: 0.36s;
}
.powerbi-spinner .circleSpinner .second {
  left: 5px;
  top: 5px;
  -moz-animation-delay: 0.48s;
  -webkit-animation-delay: 0.48s;
  animation-delay: 0.48s;
}
.powerbi-spinner .circleSpinner .third {
  left: 16px;
  top: 0;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.powerbi-spinner .circleSpinner .fourth {
  right: 5px;
  top: 5px;
  -moz-animation-delay: 0.72s;
  -webkit-animation-delay: 0.72s;
  animation-delay: 0.72s;
}
.powerbi-spinner .circleSpinner .fifth {
  right: 0;
  top: 16px;
  -moz-animation-delay: 0.84s;
  -webkit-animation-delay: 0.84s;
  animation-delay: 0.84s;
}
.powerbi-spinner .circleSpinner .sixth {
  right: 5px;
  bottom: 5px;
  -moz-animation-delay: 0.96s;
  -webkit-animation-delay: 0.96s;
  animation-delay: 0.96s;
}
.powerbi-spinner .circleSpinner .seventh {
  left: 16px;
  bottom: 0;
  -moz-animation-delay: 1.08s;
  -webkit-animation-delay: 1.08s;
  animation-delay: 1.08s;
}
.powerbi-spinner .circleSpinner .eighth {
  left: 5px;
  bottom: 5px;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
@-moz-keyframes fadeCircle {
  0% {
    background-color: #333333;
  }
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes fadeCircle {
  0% {
    background-color: #333333;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes fadeCircle {
  0% {
    background-color: #333333;
  }
  100% {
    background-color: #ffffff;
  }
}
.busySpinner {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.waitingSpinner {
  content: '';
  background: url('../../PowerBI/images/spinner.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  display: block;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.waitingSpinner.horizontal {
  left: 50%;
  margin-left: -16px;
}
.waitingSpinner.vertical {
  top: 50%;
  margin-top: -16px;
}
.waitingSpinner.container {
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
.slicerContainer label.slicerCheckbox input {
  display: none;
}
.slicerContainer label.slicerCheckbox span::before {
  content: '';
  display: inline-block;
  cursor: pointer;
  background-image: url(../images/visuals.sprites.png);
  background-position: 0px 0px;
  width: 13px;
  height: 13px;
  opacity: 0.5;
  margin-right: 8px;
}
.slicerContainer label.slicerCheckbox:hover span::before {
  opacity: 1;
}
.slicerContainer label.slicerCheckbox input:checked + span::before {
  background-image: url(../images/visuals.sprites.png);
  background-position: -17px 0px;
  width: 13px;
  height: 13px;
  opacity: 1;
}
.slicerContainer .slicerHeader {
  border-bottom-color: #eaeaea;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.slicerContainer .headerText {
  color: #333333;
  font-size: 14px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.slicerContainer .slicerText {
  font-size: 14px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
}
.slicerContainer .clear {
  font-size: 14px;
  float: right;
}
.visual-title {
  line-height: 1.3em;
  max-height: 2.6em;
  font-family: 'wf_segoe-ui_Semibold';
  font-size: 14px;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 20px;
  line-height: 16px;
}
.visual-subTitle {
  color: #333333;
  line-height: 1.3em;
  max-height: 2.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  color: #a6a6a6;
  font-size: 11px;
  font-family: 'wf_segoe-ui_Semibold';
}
.visual-tile {
  font-family: 'wf_segoe-ui_normal';
  overflow: hidden;
  background-color: #ffffff;
}
.visual-spinner {
  content: '';
  background: url('../../PowerBI/images/spinner.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  display: block;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  transition: opacity 0.25s;
}
.visual svg .showLinesOnAxis path {
  display: none;
}
.visual svg .showLinesOnAxis .tick line {
  stroke: #e9e9e9;
  stroke-width: 1px;
  padding-left: 10px;
}
.visual svg .hideLinesOnAxis .tick line {
  display: none;
}
.visual svg .hideLinesOnAxis path {
  stroke-width: 1px;
}
.visual svg .hideLinesOnAxis .domain {
  display: none;
}
/* Animated Text (and card) Styles */
.animatedNumber .mainText,
.card .mainText {
  fill: #333333;
  font-family: 'wf_segoe-ui_light';
}
/* Column chart styles */
.columnChart .column {
  fill: #28ace2;
}
.columnChart .column:hover {
  fill: #239fd1;
}
.columnChart .axisGraphicsContext {
  font-family: 'wf_segoe-ui_normal';
  font-size: 11px;
}
.columnChart .axisGraphicsContext text {
  fill: #777777;
}
.columnChart .axisGraphicsContext .axis path,
.columnChart .axisGraphicsContext .axis line {
  fill: none;
  stroke: #777777;
  shape-rendering: crispEdges;
}
.columnChart .interactive-hover-line {
  stroke: #666666;
  stroke-width: 3px;
  opacity: 1;
}
.columnChart .drag-handle {
  fill: #666666;
  opacity: 1;
}
.dataDotChart .dataDotChartMainGraphicsContext {
  font-family: 'wf_segoe-ui_normal';
  font-size: 11px;
}
.dataDotChart .dataDotChartMainGraphicsContext .dot {
  fill: #28ace2;
}
.dataDotChart .dataDotChartMainGraphicsContext .dot:hover {
  fill: #239fd1;
}
.dataDotChart .dataDotChartMainGraphicsContext .dot.null-value {
  display: none;
}
.dataDotChart .dataDotChartMainGraphicsContext .label {
  fill: white;
  text-anchor: middle;
}
.dataDotChart .dataDotChartMainGraphicsContext .label.null-value {
  display: none;
}
.dataDotChart .dataDotChartMainGraphicsContext .label.overflowed {
  display: none;
}
.dataDotChart .axisGraphicsContext {
  font-family: 'wf_segoe-ui_normal';
  font-size: 11px;
}
.dataDotChart .axisGraphicsContext text {
  fill: #777777;
}
.dataDotChart .axisGraphicsContext .axis path,
.dataDotChart .axisGraphicsContext .axis line {
  fill: none;
  stroke: #777777;
  shape-rendering: crispEdges;
}
.waterfallChart .column {
  fill: #28ace2;
}
.waterfallChart .column:hover {
  fill: #239fd1;
}
.waterfallChart .axisGraphicsContext {
  font-family: 'wf_segoe-ui_normal';
  font-size: 11px;
}
.waterfallChart .axisGraphicsContext text {
  fill: #777777;
}
.waterfallChart .axisGraphicsContext .axis path,
.waterfallChart .axisGraphicsContext .axis line {
  fill: none;
  stroke: #777777;
  shape-rendering: crispEdges;
}
.waterfallChart .waterfall-connector {
  stroke: #a6a6a6;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.lineChart .mainGraphicsContext path {
  fill: none;
  stroke-width: 3px;
  stroke-linecap: round;
}
.lineChart .mainGraphicsContext .catBackground path {
  stroke-width: 6px;
  stroke: white;
}
.lineChart .hover-line {
  stroke: #e9e9e9;
  fill: #eb5e5e;
}
.lineChart .hover-line .interactive {
  stroke: #666666;
  stroke-width: 3px;
  opacity: 1;
}
.lineChart .drag-handle {
  fill: #666666;
  opacity: 1;
}
.lineChart .axisGraphicsContext {
  font-family: 'wf_segoe-ui_normal';
  font-size: 11px;
}
.lineChart .axisGraphicsContext text {
  fill: #777777;
}
.lineChart .axisGraphicsContext .axis path,
.lineChart .axisGraphicsContext .axis line {
  fill: none;
  stroke: #777777;
  shape-rendering: crispEdges;
}
.lineChart .axisGraphicsContext .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.funnelChart .axis path,
.funnelChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.funnelChart .axis text {
  font-size: 16px;
}
.funnelChart .axis .data-labels {
  font-size: 12px;
}
.funnelChart .axis .tick line {
  display: none;
}
.funnelChart .axis .domain {
  display: none;
}
.donutChart {
  overflow: visible !important;
}
.donutChart path.slice {
  stroke-width: 1px;
  stroke: white;
}
.donutChart path.slice-highlight {
  stroke-width: 1px;
  stroke: white;
}
.donutChart .labels text {
  font-family: 'wf_segoe-ui_normal';
  font-size: 11px;
  fill: #777777;
}
.donutChart polyline {
  stroke: #777777;
  stroke-width: 1px;
  fill: rgba(0, 0, 0, 0);
}
.donutChart .donutLegendArrow {
  fill: #666666;
}
.donutLegend .legend-item .category {
  font-family: 'wf_segoe-ui_normal';
  color: #666666;
}
.donutLegend .legend-item .percentage {
  font-family: 'wf_segoe-ui_light';
  /* No need for color, as it would be overriden afterwards */
}
.donutLegend .legend-item .value {
  font-family: 'wf_segoe-ui_normal';
  color: #666666;
}
.scatterChart .mainGraphicsContext path {
  fill: none;
  stroke-width: 3px;
}
.scatterChart .mainGraphicsContext .notSelected {
  opacity: 0.6;
}
.scatterChart .mainGraphicsContext .selected {
  opacity: 1;
}
.scatterChart .crosshair .horizontal {
  stroke: #666666;
  stroke-width: 3px;
  opacity: 0.6;
}
.scatterChart .crosshair .vertical {
  stroke: #666666;
  stroke-width: 3px;
  opacity: 0.6;
}
.scatterChart .axisGraphicsContext {
  font-family: 'wf_segoe-ui_normal';
  font-size: 11px;
}
.scatterChart .axisGraphicsContext text {
  fill: #777777;
}
.scatterChart .axisGraphicsContext .axis path,
.scatterChart .axisGraphicsContext .axis line {
  fill: none;
  stroke: #777777;
  shape-rendering: crispEdges;
}
.sunburstChart path {
  stroke: white;
  stroke-width: 1px;
}
.sunburstChart .percentageLabel {
  text-anchor: middle;
  font-size: 36px;
}
.sunburstChart .breadcrumbLabel {
  text-anchor: middle;
  font-size: 15px;
}
.partitionMap {
  font-size: 13px;
}
.partitionMap .partition {
  stroke: white;
  stroke-width: 2px;
}
.partitionMap .label {
  fill: white;
}
/* WebChart */
.webChart .webChartAxis {
  fill: none;
  stroke: #ddd;
  stroke-width: 1px;
}
.webChart .firstInstance {
  fill: rgba(235, 94, 94, 0.25);
  stroke: #eb5e5e;
  stroke-width: 2px;
  /*stroke-dasharray: 5,5;*/
}
.webChart .secondInstance {
  fill: rgba(131, 209, 52, 0.25);
  stroke: #83d134;
  stroke-width: 2px;
  /*stroke-dasharray: 5,5;*/
}
.webChart .webChartTitleLabel {
  font-size: 14px;
  font-family: 'wf_segoe-ui_Semibold';
}
.webChart .webChartValueLabel {
  font-size: 14px;
}
.tableContainer {
  overflow: auto;
  /* table */
}
.tableContainer .table {
  width: 100%;
  color: #333333;
  text-align: left;
}
.tableContainer .table th {
  color: #777777;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* We cannot use the border-spacing on the table style for spacing since the UX spec wants unbroken row separator lines */
  padding: 0px 12px 0px 0px;
}
.tableContainer .table th:last-child {
  padding: 0px;
}
.tableContainer .table tr {
  height: 20px;
  color: #333;
  font-size: 11px;
  font-weight: normal;
}
.tableContainer .table td {
  border-top: 1px solid #c8c8c8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* We cannot use the border-spacing on the table style for spacing since the UX spec wants unbroken row separator lines */
  padding: 0px 12px 0px 0px;
}
.tableContainer .table td:last-child {
  padding: 0px;
}
.tableContainer .table .numeric {
  text-align: right;
}
.tableContainer .table .total {
  font-weight: bold;
}
.tableContainer.scrollbarPad .table th:last-child {
  padding: 0px 20px 0px 0px;
}
.tableContainer.scrollbarPad .table td:last-child {
  padding: 0px 20px 0px 0px;
}
.tablixContainer {
  overflow: auto;
}
.tablixContainer .bi-tablix {
  position: relative;
  text-align: left;
  -webkit-font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}
.tablixContainer .bi-tablix .unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
.tablixContainer .bi-tablix table {
  border-collapse: collapse;
  line-height: normal;
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-family: 'wf_segoe-ui_Semibold';
  color: #666666;
  font-size: 14px;
  font-weight: normal;
}
.tablixContainer .bi-tablix tr {
  line-height: normal;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.tablixContainer .bi-tablix td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tablixContainer .bi-tablix .bi-table-column-header {
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  font-family: 'wf_din1451';
  font-size: 16px;
  /* Having a right padding of 5px is crucial to make sure that we do not fire click events on the table column
               header (and trigger sorting) when resizing a column.  The allowed offset from the parent td's right border
               to trigger resizing is 4px (see TablixResizer.resizeHandleSize) and thus less than the 5px padding.
            */
  padding: 0px 5px 0px 10px;
}
.tablixContainer .bi-tablix .bi-table-cell-numeric {
  text-align: right;
  padding: 0px 0px 0px 10px;
}
.tablixContainer .bi-tablix .bi-table-row {
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-bottom-color: #E8E8E8;
  font-family: 'wf_segoe-ui_Semibold';
  color: #333333;
  font-size: 14px;
  padding: 0px 0px 0px 10px;
}
.tablixContainer .bi-tablix .bi-table-last-row {
  font-family: 'wf_segoe-ui_Semibold';
  color: #333333;
  font-size: 14px;
  padding: 0px 0px 0px 10px;
}
.tablixContainer .bi-tablix .bi-table-footer {
  border-top-width: 1pt;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  font-family: 'wf_segoe-ui_bold';
  color: #333333;
  font-size: 14px;
  padding: 0px 5px 0px 10px;
}
.tablixContainer .bi-tablix .bi-tablix-header {
  padding: 0px 5px 0px 10px;
}
.tablixContainer .bi-tablix .bi-tablix-row-header-leaf {
  border-right-width: 1px;
  border-right-color: #CCCCCC;
  border-right-style: solid;
  padding: 0px 5px 0px 10px;
}
.tablixContainer .bi-tablix .bi-tablix-column-header-leaf {
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
  border-bottom-style: solid;
  /* Having a right padding of 5px is crucial to make sure that we do not fire click events on the tablix column
               header (and trigger sorting) when resizing a column.  The allowed offset from the parent td's right border
               to trigger resizing is 4px (see TablixResizer.resizeHandleSize) and thus less than the 5px padding.
            */
  padding: 0px 5px 0px 10px;
}
.tablixContainer .bi-tablix .bi-matrix-body-cell {
  text-align: right;
  font-family: 'wf_segoe-ui_Semibold';
  color: #333333;
  font-size: 14px;
  padding: 0px 5px 0px 10px;
}
.tablixContainer .bi-tablix .total {
  font-weight: bold;
}
.tablixContainer .bi-tablix .scroll-bar-div {
  background: #F1F1F1;
  position: relative;
  user-select: none;
}
.tablixContainer .bi-tablix .scroll-bar-part-arrow {
  background: #F1F1F1;
  position: absolute;
  text-align: center;
  user-select: none;
}
.tablixContainer .bi-tablix .scroll-bar-part-arrow:hover {
  background-color: #cecece;
}
.tablixContainer .bi-tablix .scroll-bar-part-bar {
  background: #cecece;
  position: absolute;
  text-align: center;
  user-select: none;
}
.tablixContainer .bi-tablix .scroll-bar-part-bar:hover {
  background: #c0c0c0;
}
.callout {
  /*temp styles, waiting on behaviour spec*/
  height: 15px;
  top: -49px;
  color: #777777;
  font-weight: bold;
  white-space: nowrap;
}
.callout .label {
  font-weight: bold;
}
.callout .labelValue {
  font-weight: normal;
}
.triangle-border {
  position: absolute;
  padding: 10px;
  margin: 1em 0 3em;
  border: 1px solid #a5ddeb;
  color: #333;
  background: #ffffff;
  /* css3 */
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -11px;
  /* value = - border-top-width - border-bottom-width */
  border-width: 11px 11px 0;
  border-style: solid;
  border-color: #a5ddeb transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}
/* creates the smaller  triangle */
.triangle-border:after {
  content: "";
  position: absolute;
  bottom: -9px;
  /* value = - border-top-width - border-bottom-width */
  border-width: 9px 9px 0;
  border-style: solid;
  border-color: #ffffff transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}
/* bing News */
.bingNews {
  pointer-events: all !important;
}
.bingNews .newsList {
  padding: 0px;
  margin: 0px;
}
.bingNews .newsList li {
  list-style-type: none;
  list-style-position: inside;
  border-top: 1px solid #c8c8c8;
  font-family: 'wf_segoe-ui_light';
}
.bingNews .newsList li:last-child {
  border-bottom: 1px solid #c8c8c8;
}
.bingNews .headline {
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 19px;
  height: 19px;
  overflow: hidden;
  margin-top: 7px;
}
.bingNews .snippet {
  line-height: 11px;
  overflow: hidden;
  height: 22px;
  margin-bottom: 7px;
}
.bingNews .source {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 19px;
  height: 21px;
}
.bingNews a {
  text-decoration: none;
  display: block;
}
.bingNews a:hover {
  background-color: #ddd;
}
.visual .legendLeftRight {
  height: 90%;
  vertical-align: top;
}
.visual .itemsContainerLeftRight {
  display: block;
  height: 100%;
}
.visual .legendTopBottom {
  width: 90%;
  text-align: center;
  top: 0;
  line-height: 17px;
}
.visual .itemsContainerTopBottom {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  -ms-overflow-style: scrollbar;
}
.visual .legend {
  display: inline-block;
  margin-top: 0px;
  white-space: nowrap;
  padding-bottom: 7px;
  box-sizing: content-box;
  text-align: left;
}
.visual .legend .item {
  display: inline-block;
}
.visual .legend .verticalItem {
  display: block;
}
.visual .legend .label {
  font-size: 11px;
  display: inline-block;
  color: #777777;
  padding-right: 12px;
  padding-left: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 19px;
  vertical-align: top;
}
.visual .legend .title {
  font-size: 12px;
  font-weight: bold;
  color: #777777;
  padding-right: 16px;
  margin-top: -1px;
  vertical-align: top;
  min-width: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.visual .legend .icon {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
.visual .legend .circle,
.visual .legend .tall,
.visual .legend .short {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 4px;
}
.visual .mapControl {
  position: relative;
}
.visual .mapShapes {
  stroke-linejoin: round;
}
.visual .textbox {
  color: #000000;
  line-height: 1;
}
.visual .imageBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
}
.visual .treemap .shapes {
  stroke: white;
}
.visual .treemap .shapes .rootNode {
  fill: none;
}
.visual .treemap .shapes .parentGroup {
  stroke-width: 1.5px;
  stroke-opacity: 0.8;
}
.visual .treemap .shapes .nodeGroup {
  stroke-width: 1px;
  stroke-opacity: 0.2;
  fill: none;
}
.visual .treemap .labels {
  font-family: 'wf_segoe-ui_normal';
  fill: #ffffff;
}
.visual .treemap .labels .majorLabel {
  font-size: 12px;
}
.visual .treemap .labels .minorLabel {
  font-size: 10px;
}
.interactive-legend {
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
}
.interactive-legend .title {
  font-family: 'wf_segoe-ui_light';
  font-size: 16px;
  color: #666666;
}
.interactive-legend .item {
  font-family: 'wf_segoe-ui_light';
  font-size: 12px;
  color: #666666;
  padding-right: 22px;
  padding-bottom: 0px;
  padding-top: 3px;
}
.interactive-legend .icon {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin-left: auto;
}
.tooltip-container {
  position: absolute;
  font-size: 11px;
  background-color: #333333;
  pointer-events: none;
}
.tooltip-container .tooltip-content-container {
  padding: 12px;
  max-width: 390px;
}
.tooltip-container .tooltip-row {
  display: table-row;
  line-height: 16px;
}
.tooltip-container .tooltip-title-cell,
.tooltip-container tooltip-value-cell {
  display: table-cell;
  word-wrap: break-word;
}
.tooltip-container div.tooltip-title-cell {
  font-family: 'wf_din1451';
  text-transform: uppercase;
  max-width: 130px;
  padding-right: 12px;
  color: #a6a6a6;
}
.tooltip-container div.tooltip-value-cell {
  max-width: 260px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
}
.tooltip-container .arrow {
  position: absolute;
  width: 0;
  height: 0;
}
.tooltip-container .arrow.top {
  top: 7px;
}
.tooltip-container .arrow.bottom {
  bottom: 7px;
}
.tooltip-container .arrow.left {
  left: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #333333;
}
.tooltip-container .arrow.right {
  right: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #333333;
}
.data-labels {
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
  font-family: 'wf_segoe-ui_normal';
  /* Enables tooltip when hovering on data label inside visual */
  pointer-events: none;
}
.richtextbox {
  color: #333333;
}
.richtextbox .ql-container {
  padding: 0px;
}
.richtextbox .ql-editor {
  padding: 10px;
}
div.ql-toolbar {
  padding: 6px;
  background: #333333;
  color: #ffffff;
  white-space: nowrap;
  overflow-x: hidden;
  /*
    select::-ms-expand {
        display: none;
    }
    */
}
div.ql-toolbar select.ql-picker {
  margin: 3px;
  padding: 3px;
  background: #444444;
  border: 1px solid #000000;
}
div.ql-toolbar select.ql-font {
  width: 122px;
}
div.ql-toolbar label {
  margin: 3px;
}
div.ql-toolbar .ql-format-button {
  margin: 3px;
  padding: 3px;
}
div.ql-toolbar .ql-format-button:hover {
  background: #f2c811;
  color: #333333;
}
div.ql-toolbar .ql-format-button.ql-active {
  background: #f2c811;
  color: #333333;
}
.multiRowCard .card .title {
  font-size: 28px;
  font-family: 'wf_segoe-ui_Semibold';
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
